# include   <resource.h>

# define IDB_BACKG          100
# define IDB_OBJ1           101
# define IDB_OBJ2           102
# define IDB_OBJ3           103
# define IDB_ICON           200
# define IDB_GAMESTART      301
# define IDB_GAMEINTRO      302
# define IDB_GAMESTARTC     303
# define IDB_GAMEINTROC     304

IDB_BACKG       BITMAP      "resource/background.bmp"
IDB_ICON        ICON        "resource/icon.ico"
IDB_OBJ1        BITMAP      "resource/object1.bmp"
IDB_OBJ2        BITMAP      "resource/object2.bmp"
IDB_OBJ3        BITMAP      "resource/object3.bmp"
IDB_GAMESTART   BITMAP      "resource/game_start.bmp"
IDB_GAMEINTRO   BITMAP      "resource/game_intro.bmp"
IDB_GAMESTARTC  BITMAP      "resource/game_start_chosen.bmp"
IDB_GAMEINTROC  BITMAP      "resource/game_intro_chosen.bmp"