# include   <resource.h>

# define IDB_BACKG_2p_CHOOSE      95
# define IDB_BACKG_END      96
# define IDB_BACKG_PLAY     97
# define IDB_BACKG_PLAYU    90
# define IDB_BACKG_PLAYD    91
# define IDB_BACKG_INTRO    98
# define IDB_BACKG_BEGINING 99
# define IDB_BACKG          100
# define IDB_OBJ1           101
# define IDB_OBJ2           102
# define IDB_OBJ3           103
# define IDB_ICON           200
# define IDB_GAMESTART      301
# define IDB_GAMEINTRO      302
# define IDB_GAMESTARTC     303
# define IDB_GAMEINTROC     304
# define IDB_BUTTON_BACK_1  305
# define IDB_BUTTON_BACK_2  306
# define IDB_BUTTON_EXIT_1  307
# define IDB_BUTTON_EXIT_2  308
# define IDB_BUTTON_PLAY_1  309
# define IDB_BUTTON_PLAY_2  310
# define IDB_BUTTON_START_1  311
# define IDB_BUTTON_START_2  312
# define IDB_PROP_MONEY      313
# define IDB_PROP_ABSTSOFT   314
# define IDB_PROP_ABSTHARD   315
# define IDB_PROP_ACC        316
# define IDB_PROP_DEC        317
# define IDB_PROP_BULLETL    318
# define IDB_PROP_BULLETM    319
# define IDB_PROP_BULLETR    320

# define IDB_BUTTON_RETRY_1 321
# define IDB_BUTTON_RETRY_2 322
# define IDB_BUTTON_PAUSE_1 323
# define IDB_BUTTON_PAUSE_2 324

# define IDB_BUTTON_2p_PLAY_1  325
# define IDB_BUTTON_2p_PLAY_2  326

# define IDB_PLAYER          400

# define IDB_HPP             500

# define IDB_DIG0            1000
# define IDB_DIG1            1001
# define IDB_DIG2            1002
# define IDB_DIG3            1003
# define IDB_DIG4            1004
# define IDB_DIG5            1005
# define IDB_DIG6            1006
# define IDB_DIG7            1007
# define IDB_DIG8            1008
# define IDB_DIG9            1009

IDB_BACKG_2p_CHOOSE BITMAP      "resource/background_2p_choose.bmp"
IDB_BACKG           BITMAP      "resource/background.bmp"
IDB_BACKG_BEGINING  BITMAP      "resource/background_begining.bmp"
IDB_BACKG_INTRO     BITMAP      "resource/background_intro.bmp"
IDB_BACKG_PLAY      BITMAP      "resource/background_play.bmp"
IDB_BACKG_PLAYD     BITMAP      "resource/background_play_down.bmp"
IDB_BACKG_PLAYU     BITMAP      "resource/background_play_up.bmp"
IDB_BACKG_END       BITMAP      "resource/background_end.bmp"
IDB_ICON            ICON        "resource/icon.ico"

IDB_OBJ1            BITMAP      "resource/object1.bmp"
IDB_OBJ2            BITMAP      "resource/object2.bmp"
IDB_OBJ3            BITMAP      "resource/object3.bmp"

IDB_GAMESTART       BITMAP      "resource/game_start.bmp"
IDB_GAMEINTRO       BITMAP      "resource/game_intro.bmp"
IDB_GAMESTARTC      BITMAP      "resource/game_start_chosen.bmp"
IDB_GAMEINTROC      BITMAP      "resource/game_intro_chosen.bmp"

IDB_BUTTON_BACK_1   BITMAP      "resource/button_back_1.bmp"
IDB_BUTTON_BACK_2   BITMAP      "resource/button_back_2.bmp"
IDB_BUTTON_EXIT_1   BITMAP      "resource/button_exit_1.bmp"
IDB_BUTTON_EXIT_2   BITMAP      "resource/button_exit_2.bmp"
IDB_BUTTON_PLAY_1   BITMAP      "resource/button_play_1.bmp"
IDB_BUTTON_PLAY_2   BITMAP      "resource/button_play_2.bmp"
IDB_BUTTON_START_1  BITMAP      "resource/button_start_1.bmp"
IDB_BUTTON_START_2  BITMAP      "resource/button_start_2.bmp"
IDB_BUTTON_RETRY_1  BITMAP      "resource/button_retry_1.bmp"
IDB_BUTTON_RETRY_2  BITMAP      "resource/button_retry_2.bmp"
IDB_BUTTON_PAUSE_1  BITMAP      "resource/button_pause_1.bmp"
IDB_BUTTON_PAUSE_2  BITMAP      "resource/button_pause_2.bmp"
IDB_BUTTON_2p_PLAY_1 BITMAP      "resource/button_2p_play_1.bmp"
IDB_BUTTON_2p_PLAY_2 BITMAP      "resource/button_2p_play_2.bmp"

IDB_PROP_MONEY      BITMAP       "resource/prop_money.bmp"
IDB_PROP_ABSTSOFT   BITMAP       "resource/prop_obstsoft.bmp"
IDB_PROP_ABSTHARD   BITMAP       "resource/prop_obsthard.bmp"
IDB_PROP_ACC        BITMAP       "resource/prop_acc.bmp"
IDB_PROP_DEC        BITMAP       "resource/prop_dec.bmp"
IDB_PROP_BULLETL    BITMAP       "resource/prop_bulletL.bmp"
IDB_PROP_BULLETM    BITMAP       "resource/prop_bulletM.bmp"
IDB_PROP_BULLETR    BITMAP       "resource/prop_bulletR.bmp"

IDB_PLAYER          BITMAP       "resource/player.bmp"


IDB_DIG0    BITMAP  "resource/dig0.bmp"
IDB_DIG1    BITMAP  "resource/dig1.bmp"
IDB_DIG2    BITMAP  "resource/dig2.bmp"
IDB_DIG3    BITMAP  "resource/dig3.bmp"
IDB_DIG4    BITMAP  "resource/dig4.bmp"
IDB_DIG5    BITMAP  "resource/dig5.bmp"
IDB_DIG6    BITMAP  "resource/dig6.bmp"
IDB_DIG7    BITMAP  "resource/dig7.bmp"
IDB_DIG8    BITMAP  "resource/dig8.bmp"
IDB_DIG9    BITMAP  "resource/dig9.bmp"

IDB_HPP     BITMAP  "resource/HP_place.bmp"
